


.menu {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    font-family: 'Inter';
}

.container{
    max-width: 1200px;
    margin: 2px auto;
    background: #FFFFFF;
}

.menu-flex {
    display: flex;
    align-items: center;
}

.menu-column {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-start;
}

.menu-column.menu-second-column {
    justify-content: flex-end;
}

.menu-nav ul {
    display: flex;
    list-style: none;
    gap: 46px;
}

.menu-nav ul li a {
    text-decoration: none;
    color: #585e65;
}

.menu-link-button {
    text-decoration: none;
    height: 48px;
    background-color: #4c6ef5;
    color: #fff;
    padding: 0 32px;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.products-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}

div .products{
    width: 374px;
    height: 24%;
    background: #ffffff;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    font-family: 'Inter';
    border-radius: 8px;
    margin: 20px 20px 16px 0px; 
    font-weight: 600;
}

img {
    margin: 43px 49px 46px 43px;
}

.smartphone-img{
    margin: 10px 56.22px 30px 57px ;
    padding-left: 55px;
    padding-top: 80px;
}

.fritadeira-img{
    padding-left: 43px;
}

.smart-43-img{
    padding-left: 25px;
}

.cadeira-img{
    padding-left: 40px;
}

p {
    padding-left: 21px;
}

button.products-button{    
    width: 335px;
    height: 48px;
    background-color: hsl(228, 89%, 63%);
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin: 36px 18px 26px 21px;
    padding-left: 100px;
    border-color:  #ffffff;
}





